*{
    margin: 0;
    padding: 0;
}

header{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: steelblue;
    text-align: center;
    color: #8c310b;
}

#logo-legourmet{
    display: flex;
    justify-content: flex-start;
    width: 10%;
    
}

.navigationdessemaines{
    padding: 3% 0;
}

.navigationdessemaines button{
    background-color: #3498db;
    border: transparent;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}